body {
	background-image: url("http://i.stack.imgur.com/7YKUD.jpg");
}

table {
	border-color: olive;
}

.heading {
	font-family:'Lobster', cursive;
	color: lightgray;
}

.tableRow {
	margin: 0 auto;
	width: 200px;
	height: 100px;
}

td {
	background-color: lime;
}

button.btn {
	background-color: lightgray;
}

